In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/employee_data.csv')
data.head(10)

,Employee_ID,Full_Name,Age,Gender,Join_Date,Department,Salary,Location,Performance_Score
0,3001,Noah Wilson,27.0,Male,2015/09/23,HR,62000.0,new york,85.0
1,3002,James Lee,27.0,Male,invalid_date,Sales,70000.0,san francisco,85.0
2,3003,Person_52,29.0,Male,2014/08/18,HR,0.0,New York,NaN
3,3004,Person_24,25.0,NaN,invalid_date,Sales,NaN,new york,NaN
4,3005,Person_37,27.0,Fmale,2015/09/17,Marketing,67000.0,Los Angeles,85.0
5,3006,Abigail King,25.0,Female,invalid_date,IT,75000.0,San Francisco,90.0
6,3007,Person_55,999.0,Male,2016-04-27,Sales,0.0,los angeles,NaN
7,3008,Person_35,45.0,NaN,invalid_date,IT,75000.0,los angeles,92.0
8,3009,Aiden Green,45.0,Fmale,invalid_date,Marketing,62000.0,NaN,90.0
9,3010,Person_36,27.0,NaN,10-02-2017,IT,70000.0,New York,90.0

### Dirty Data

- Incorret and missing values in Name , Age, Gender, Salary, Location, Performance score

### Messy Data

- Employee id can be used as index
- In gender and department, the words are not formatted correctly
- Wrong format in join date
- Wrong data type for join date

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        500 non-null    int64
 1   Full_Name          500 non-null    object
 2   Age                428 non-null    float64
 3   Gender             363 non-null    object
 4   Join_Date          500 non-null    object
 5   Department         500 non-null    object
 6   Salary             424 non-null    float64
 7   Location           425 non-null    object
 8   Performance_Score  405 non-null    float64
dtypes: float64(3), int64(1), object(5)
memory usage: 35.3+ KB

In [ ]:
data_copy = data.copy()

In [ ]:
data_copy = data_copy.drop('Join_Date', axis=1)

In [ ]:
# Correcting Employee Id
data_copy['Employee_ID'] = data_copy['Employee_ID'] - 3000
data_copy['Employee_ID'] = data_copy['Employee_ID'].astype('int32')
data_copy.set_index('Employee_ID', inplace=True)

In [ ]:
# Correcting name column
data_copy.loc[data_copy['Full_Name'].str.startswith('Person_'), 'Full_Name'] = 'Unknown'

In [ ]:
# Correcting Age Column
data_copy['Age'] = data_copy['Age'].replace(999,np.nan)
data_copy['Age']= data_copy['Age'].fillna(data_copy['Age'].mean())
data_copy['Age'] = data_copy['Age'].astype('int16')

In [ ]:
# Correcting Gender Column
data_copy['Gender'] = data_copy['Gender'].replace('Fmale','Female')
data_copy['Gender'] = data_copy['Gender'].fillna(data_copy['Gender'].mode()[0])
data_copy['Gender'] = data_copy['Gender'].astype('category')

In [ ]:
# Correcting Department
data_copy['Department'] = data_copy['Department'].str.capitalize()
data_copy['Department'] = data_copy['Department'].replace('Hr', 'Human Resources')
data_copy['Department'] = data_copy['Department'].replace('It', 'Information Technology')

In [ ]:
data_copy['Salary'] = data_copy['Salary'].replace(0.0 , data_copy['Salary'].mean())
data_copy['Salary'] = data_copy['Salary'].fillna(data_copy['Salary'].mean())
data_copy['Salary'] = data_copy['Salary'].astype('int32')

In [ ]:
data_copy['Location'] = data_copy['Location'].str.title()
data_copy['Location'] = data_copy['Location'].fillna(data_copy['Location'].mode()[0])

In [ ]:
data_copy['Performance_Score'] = data_copy['Performance_Score'].fillna(data_copy['Performance_Score'].mean())
data_copy['Performance_Score'] = data_copy['Performance_Score'].astype('int16')

In [ ]:
data_copy.sample(20)
data_copy.head(10)

,Full_Name,Age,Gender,Department,Salary,Location,Performance_Score
Employee_ID,,,,,,,
1,Noah Wilson,27,Male,Human Resources,62000,New York,85
2,James Lee,27,Male,Sales,70000,San Francisco,85
3,Unknown,29,Male,Human Resources,55528,New York,86
4,Unknown,25,Female,Sales,64171,New York,86
5,Unknown,27,Female,Marketing,67000,Los Angeles,85
6,Abigail King,25,Female,Information Technology,75000,San Francisco,90
7,Unknown,31,Male,Sales,55528,Los Angeles,86
8,Unknown,45,Female,Information Technology,75000,Los Angeles,92
9,Aiden Green,45,Female,Marketing,62000,New York,90
10,Unknown,27,Female,Information Technology,70000,New York,90

In [ ]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 1 to 500
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Full_Name          500 non-null    object
 1   Age                500 non-null    int16
 2   Gender             500 non-null    category
 3   Department         500 non-null    object
 4   Salary             500 non-null    int32
 5   Location           500 non-null    object
 6   Performance_Score  500 non-null    int16
dtypes: category(1), int16(2), int32(1), object(3)
memory usage: 18.2+ KB

In [ ]:
data_copy #cleaned data frame

,Full_Name,Age,Gender,Department,Salary,Location,Performance_Score
Employee_ID,,,,,,,
1,Noah Wilson,27,Male,Human Resources,62000,New York,85
2,James Lee,27,Male,Sales,70000,San Francisco,85
3,Unknown,29,Male,Human Resources,55528,New York,86
4,Unknown,25,Female,Sales,64171,New York,86
5,Unknown,27,Female,Marketing,67000,Los Angeles,85
...,...,...,...,...,...,...,...
496,Lucas Martin,45,Male,Finance,55528,San Francisco,88
497,Unknown,45,Female,Sales,67000,Los Angeles,86
498,Mason Young,25,Female,Human Resources,55528,New York,85
499,John Smith,25,Male,Human Resources,70000,Los Angeles,92
500,Unknown,31,Male,Information Technology,75000,Los Angeles,85

In [ ]:
data #dirty data frame

,Employee_ID,Full_Name,Age,Gender,Join_Date,Department,Salary,Location,Performance_Score
0,3001,Noah Wilson,27.0,Male,2015/09/23,HR,62000.0,new york,85.0
1,3002,James Lee,27.0,Male,invalid_date,Sales,70000.0,san francisco,85.0
2,3003,Person_52,29.0,Male,2014/08/18,HR,0.0,New York,NaN
3,3004,Person_24,25.0,NaN,invalid_date,Sales,NaN,new york,NaN
4,3005,Person_37,27.0,Fmale,2015/09/17,Marketing,67000.0,Los Angeles,85.0
...,...,...,...,...,...,...,...,...,...
495,3496,Lucas Martin,45.0,Male,2022-09-06,Finance,0.0,san francisco,88.0
496,3497,Person_41,45.0,NaN,invalid_date,Sales,67000.0,Los Angeles,NaN
497,3498,Mason Young,25.0,NaN,invalid_date,HR,0.0,new york,85.0
498,3499,John Smith,25.0,Male,invalid_date,HR,70000.0,los angeles,92.0
499,3500,Person_26,999.0,Male,invalid_date,IT,75000.0,Los Angeles,85.0